input {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 50%;
}

.btn-primary {
  background-color: #b38fb6 !important;
  color: white !important;
  border-color: #b38fb6 !important;
}

#addDataSet {
  font-family: 'Palatino', sans-serif !important;
}
